<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.the111min.android.api"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="4" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <service android:name=".RequestService" />
    </application>

</manifest>